@mixin telefono {
  @media (min-width: $telefono) {
    @content; //toma el contenido cuando son muchos parametros del include
  }
}
@mixin tablet {
  @media (min-width: $tablet) {
    @content; //toma el contenido cuando son muchos parametros del include
  }
}
@mixin desktop {
  @media (min-width: $desktop) {
    @content; //toma el contenido cuando son muchos parametros del include
  }
}
@mixin grid($columnas, $espaciado) {
  display: grid;
  grid-template-columns: repeat($columnas, 1fr);
  gap: $espaciado;
}
